/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face {
	font-family: 'Baskerville';
	src: url(fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/


h1 {
	font-family: 'Baskerville', Garamond;
	font-size: 5em;
	font-weight: normal;
	color: #BBBBBB;
}

h1 a:link {
	text-decoration: none;
	color: #BBB;
}

h1 a:hover {
	color:black;
}

#about a:link {
	color:#47F;
	text-decoration: none;
}

#about a:hover {
	color:#47F;
	text-decoration: underline;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h2 {
	font-family: 'New Times Roman';
	font-size: 2em;
	color: #BBB;
}

img {
	border: 5px grey solid;
}

a:hover img {
	border: 5px #555 solid;
}

footer {
	text-align: right;
	margin:15px;
	font-family: 'New Times Roman';
	font-size: 12px;
}